<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deansohn.the_journey">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Home_holiday.Main_Activity_Page"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Home_holiday.AddHolidayForm"
            android:label="@string/title_activity_add_holiday_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Home_holiday.Holiday_Edit_details_activity"
            android:label="@string/title_activity_holiday__edit_details_activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCCYnYEwLIFbr6v9Q79PFG8wAocJi0lVlQ" />

        <activity
            android:name=".activities.Places.Maps_activity"
            android:label="@string/title_activity_maps_activity" />
        <activity
            android:name=".activities.Places.Place_Picker_activity"
            android:label="@string/title_activity_place__picker_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Places.Places_list_activity"
            android:label="@string/title_activity_places_list_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Gallery.Photo_gallery_activity"
            android:label="@string/title_activity_photo_gallery_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/filepaths"></meta-data>
    </application>

</manifest>